
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>#LetsUpgrade | 2018</title>
    {{!--
    <link rel="stylesheet" type="css" href="css/style.css"> --}}
    <style>
        body {
            font-family: 'Lato', georgia;
            font-size: 25px;
            color: rgb(255, 255, 255);
            background-image: url("/Background.png");
            ;
            background-color: rgb(0, 0, 0);
            font-weight: 300;
            -webkit-font-smoothing: antialiased;
        }
        
        #contact-form {
            max-width: 90%;
            margin: 0 auto;
        }
        
        label {
            font-weight: 400;
            cursor: pointer;
        }
        
        textarea,
        input {
            border: none;
            outline: none;
            border-radius: 0;
            text-align: center;
            background: none;
            font-weight: 700;
            font-family: 'Lato', georgia;
            font-size: 25px;
            color: rgb(255, 255, 255);
            max-width: 90%;
            padding: 1rem;
            border: 2px dashed rgba(255, 255, 255);
            box-sizing: border-box;
            cursor: text;
        }
        
        textarea {
            text-align: left;
            /* overflow:hidden; */
            background-color: rgb(248, 248, 248);
            resize: none;
            width: 90%;
            border-color: rgb(255, 253, 253)
        }
        
        textarea:focus {
            background-color: rgba(255, 255, 255, 0.2);
            border: 2px dashed rgb(0, 0, 0);
        }
        
        textarea:focus:required:valid {
            border: 2px solid rgba(255, 255, 255, 0);
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
        
        textarea:required:valid {
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
        
        input {
            border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        }
        
        input:required,
        textarea:required {
            border-bottom: 2px dashed rgb(255, 255, 255);
        }
        
        input:focus {
            border-bottom: 2px dashed rgb(255, 253, 253);
            background-color: rgb(0, 0, 0);
        }
        
        input:required:valid {
            border-bottom: 2px solid rgb(255, 255, 255);
        }
        
        input:required:invalid {
            color: rgb(255, 255, 255);
        }
        
         ::-webkit-input-placeholder {
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            font-style: italic;
            font-weight: 400;
        }
        
         :-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            font-style: italic;
            font-weight: 400;
        }
        
         ::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            font-style: italic;
            font-weight: 400;
        }
        
         :-ms-input-placeholder {
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            font-style: italic;
            font-weight: 400;
        }
        
        .expanding {
            vertical-align: top;
        }
        
        .send-icn {
            fill: rgb(255, 255, 255)
        }
        
        .send-icn:hover {
            fill: rgb(255, 217, 0);
            cursor: pointer;
        }
        
        button {
            background: none;
            border: none;
            outline: none;
            margin: 2vmax;
        }
        
        button:hover small {
            opacity: 1;
        }
        
        small {
            display: block;
            opacity: 0;
        }
        
        .website {
            opacity: 1;
            font-size: 16px;
            color: rgb(255, 255, 255);
            position: relative;
            text-align: center;
            display: block;
            margin-top: 0%;
        }
        
        .website a {
            color: rgb(0, 0, 0);
        }
        
        p {
            text-align: center;
        }
        /* The container */
        
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            left: 40%;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        /* Create a custom checkbox */
        
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }
        /* On mouse-over, add a grey background color */
        
        .container:hover input~.checkmark {
            background-color: #ccc;
        }
        /* When the checkbox is checked, add a blue background */
        
        .container input:checked~.checkmark {
            background-color: #2196F3;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        
        .container input:checked~.checkmark:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
    <title>#LetsUpgrade - Register</title>
</head>


<body>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <form id="contact-form" method="POST" action="send">
        <p>Hey #LetsUpgrade,</p>
        <p> {{msg}}</p>
        <p>My
            <label for="your-name">First name</label> is
            <input type="text" id="firstname" name="name" minlength="3" placeholder="(your first name here)" required> &</p>
        <p>my
            <label for="your-name">Second name</label> is
            <input type="text" id="secondname" name="sec" minlength="3" placeholder="(your first second here)" required> and</p>
        <p>mail
            <label for="email">me</label> at
            <input type="email" id="email" name="email" placeholder="(your email address)" required> and
        </p>

        <p> call
            <label for="your-message">me</label> at</p>

        <p>
            <input type="mobile" id="no" name="phone" placeholder="(your Contact No.)" required>
        </p>
        <p> I am <strong> intrested </strong> in <br/>
            <div class="checkboxes" style="">
                <label class="container">Blockchain
                            <input type="checkbox" value="Blockchain" name="chk">
                            <span class="checkmark"></span>
                          </label>
                <label class="container">Artificial Intelligence
                                <input type="checkbox" value="AI" name="chk">
                                <span class="checkmark"></span>
                              </label>
                <label class="container">Augmented Reality
                                    <input type="checkbox" value="AR" name="chk">
                                    <span class="checkmark"></span>
                                  </label>
                <label class="container">IoT
                                        <input type="checkbox" value="IoT" name="chk">
                                        <span class="checkmark"></span>
                                      </label>

            </div>
            <p>
                <button type="submit">
        <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
          <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
      l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
        </svg>
        <small>send</small>
      </button>
            </p>
    </form>

    <small class='website'>Team #LetsUpgrade</small>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



    <script>
        // Auto resize input
        function resizeInput() {
            $(this).attr('size', $(this).val().length);
        }

        $('input[type="text"], input[type="email"]')
            // event handler
            .keyup(resizeInput)
            // resize on page load
            .each(resizeInput);


        console.clear();
        // Adapted from georgepapadakis.me/demo/expanding-textarea.html
        (function() {

            var textareas = document.querySelectorAll('.expanding'),

                resize = function(t) {
                    t.style.height = 'auto';
                    t.style.overflow = 'hidden'; // Ensure scrollbar doesn't interfere with the true height of the text.
                    t.style.height = (t.scrollHeight + t.offset) + 'px';
                    t.style.overflow = '';
                },

                attachResize = function(t) {
                    if (t) {
                        console.log('t.className', t.className);
                        t.offset = !window.opera ? (t.offsetHeight - t.clientHeight) : (t.offsetHeight + parseInt(window.getComputedStyle(t, null).getPropertyValue('border-top-width')));

                        resize(t);

                        if (t.addEventListener) {
                            t.addEventListener('input', function() {
                                resize(t);
                            });
                            t.addEventListener('mouseup', function() {
                                resize(t);
                            }); // set height after user resize
                        }

                        t['attachEvent'] && t.attachEvent('onkeyup', function() {
                            resize(t);
                        });
                    }
                };

            // IE7 support
            if (!document.querySelectorAll) {

                function getElementsByClass(searchClass, node, tag) {
                    var classElements = new Array();
                    node = node || document;
                    tag = tag || '*';
                    var els = node.getElementsByTagName(tag);
                    var elsLen = els.length;
                    var pattern = new RegExp("(^|\\s)" + searchClass + "(\\s|$)");
                    for (i = 0, j = 0; i < elsLen; i++) {
                        if (pattern.test(els[i].className)) {
                            classElements[j] = els[i];
                            j++;
                        }
                    }
                    return classElements;
                }

                textareas = getElementsByClass('expanding');
            }

            for (var i = 0; i < textareas.length; i++) {
                attachResize(textareas[i]);
            }

        })();
    </script>




</body>

</html>