<!DOCTYPE html>
<html lang="en-US" class="scheme_original">


<!-- Mirrored from jacqueline-html.themerex.net/gallery-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:23:55 GMT -->
<head>
    <title>Gallery Grid - Jacqueline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='css/admin_icon.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Mr+De+Haviland|Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese' type='text/css' media='all' />
    <link rel='stylesheet' href='../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.minb2f9.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essgrid/esg.settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/instagram-widget.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/grid.layout/grid.layout.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essgrid/lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/plugins.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
</head>

<body class="ggrid page body_filled theme_skin_less article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide preloader wpb-js-composer sc_responsive">
<div id="page_preloader"></div>
<div class="body_wrap">
    <div class="page_wrap">
        <div class="top_panel_fixed_wrap"></div>
        <header class="top_panel_wrap top_panel_style_3 scheme_original">
            <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                <div class="top_panel_top">
                    <div class="content_wrap clearfix">
                        <div class="top_panel_top_contact_area">Call Us +1 800 245 39 25 </div>
                        <div class="top_panel_top_user_area">
                            <div class="top_panel_top_socials">
                                <span class="label">Stay connected: </span>
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_twitter">
                                            <span class="icon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_gplus">
                                            <span class="icon-gplus"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_facebook">
                                            <span class="icon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_instagramm">
                                            <span class="icon-instagramm"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="menu_user_nav">
                                <li class="menu_user_login">
                                    <a href="#popup_login" class="popup_link popup_login_link icon-user">Login</a>
                                </li>
                            </ul>
                        </div>
                        <div class="top_panel_top_search">
                            <div class="search_wrap search_style_regular search_state_closed search_ajax">
                                <div class="search_form_wrap">
                                    <form role="search" method="get" class="search_form" action="#">
                                        <button type="submit" class="search_submit icon-search-1" title="Open search"></button>
                                        <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                                    </form>
                                </div>
                                <div class="search_results widget_area scheme_original">
                                    <a class="search_results_close icon-cancel"></a>
                                    <div class="search_results_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top_panel_middle">
                    <div class="content_wrap">
                        <div class="contact_logo">
                            <div class="logo">
                                <a href="index-2.html">
                                    <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                                    <img src="images/Logo.png" class="logo_fixed" alt="" width="238" height="56">
                                </a>
                            </div>
                        </div>
                        <div class="menu_main_wrap">
                            <nav class="menu_main_nav_area">
                                <ul class="menu_main_nav">
                                    <li class="menu-item menu-item-has-children"><a>Home</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="index-2.html">Home 1</a></li>
                                            <li class="menu-item"><a href="home-2.html">Home 2</a></li>
                                            <li class="menu-item"><a href="home-3.html">Home 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a>Features</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a>Gallery</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item current-menu-item"><a href="gallery-grid.html">Grid</a></li>
                                                    <li class="menu-item"><a href="gallery-masonry.html">Masonry</a></li>
                                                    <li class="menu-item"><a href="gallery-cobbles.html">Cobbles</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="gallery-polaroid.html">Polaroid gallery</a></li>
                                            <li class="menu-item menu-item-has-children"><a>About</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                                    <li class="menu-item"><a href="about-us-2.html">About Us 2</a></li>
                                                    <li class="menu-item"><a href="staff.html">Our Staff</a></li>
                                                    <li class="menu-item"><a href="contacts.html">Contacts Us</a></li>
                                                    <li class="menu-item"><a href="price-tables.html">Price Tables</a></li>
                                                    <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                                                    <li class="menu-item"><a href="events.html">Events</a></li>
                                                    <li class="menu-item"><a href="certificates.html">Gift Certificates</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a>Services</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="services.html">Services 1</a></li>
                                                    <li class="menu-item"><a href="services-2.html">Services 2</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a>Pages</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="typography.html">Typography</a></li>
                                                    <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                                                    <li class="menu-item"><a href="404.html">404 Page</a></li>
                                                    <li class="menu-item"><a href="video.html">Video tutorials</a></li>
                                                    
                                                    <li class="menu-item"><a href="faq.html">Faq Page</a></li>
                                                    <li class="menu-item"><a href="support.html">Support</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="booking.html">Booking</a></li>
                                    <li class="menu-item menu-item-has-children"><a>Blog</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="classic.html">Classic</a></li>
                                            <li class="menu-item menu-item-has-children"><a>Masonry</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="masonry-2-columns.html">2 columns</a></li>
                                                    <li class="menu-item"><a href="masonry-3-columns.html">3 columns</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a>Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="portfolio-2-columns.html">2 columns</a></li>
                                                    <li class="menu-item"><a href="portfolio-3-columns.html">3 columns</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="post-formats.html">Post Formats</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="shop.html">Shop</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header_mobile">
            <div class="content_wrap">
                <div class="menu_button icon-menu"></div>
                <div class="logo">
                    <a href="index-2.html">
                        <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                    </a>
                </div>
            </div>
            <div class="side_wrap">
                <div class="close">Close</div>
                <div class="panel_top">
                    <nav class="menu_main_nav_area">
                        <ul class="menu_main_nav">
                            <li class="menu-item menu-item-has-children"><a>Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="index-2.html">Home 1</a></li>
                                    <li class="menu-item"><a href="home-2.html">Home 2</a></li>
                                    <li class="menu-item"><a href="home-3.html">Home 3</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a>Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a>Gallery</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item current-menu-item"><a href="gallery-grid.html">Grid</a></li>
                                            <li class="menu-item"><a href="gallery-masonry.html">Masonry</a></li>
                                            <li class="menu-item"><a href="gallery-cobbles.html">Cobbles</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="gallery-polaroid.html">Polaroid gallery</a></li>
                                    <li class="menu-item menu-item-has-children"><a>About</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                            <li class="menu-item"><a href="about-us-2.html">About Us 2</a></li>
                                            <li class="menu-item"><a href="staff.html">Our Staff</a></li>
                                            <li class="menu-item"><a href="contacts.html">Contacts Us</a></li>
                                            <li class="menu-item"><a href="price-tables.html">Price Tables</a></li>
                                            <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                                            <li class="menu-item"><a href="events.html">Events</a></li>
                                            <li class="menu-item"><a href="certificates.html">Gift Certificates</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a>Services</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="services.html">Services 1</a></li>
                                            <li class="menu-item"><a href="services-2.html">Services 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a>Pages</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="typography.html">Typography</a></li>
                                            <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                                            <li class="menu-item"><a href="404.html">404 Page</a></li>
                                            <li class="menu-item"><a href="video.html">Video tutorials</a></li>
                                            
                                            <li class="menu-item"><a href="faq.html">Faq Page</a></li>
                                            <li class="menu-item"><a href="support.html">Support</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="booking.html">Booking</a></li>
                            <li class="menu-item menu-item-has-children"><a>Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="classic.html">Classic</a></li>
                                    <li class="menu-item menu-item-has-children"><a>Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="masonry-2-columns.html">2 columns</a></li>
                                            <li class="menu-item"><a href="masonry-3-columns.html">3 columns</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a>Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="portfolio-2-columns.html">2 columns</a></li>
                                            <li class="menu-item"><a href="portfolio-3-columns.html">3 columns</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="post-formats.html">Post Formats</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="shop.html">Shop</a></li>
                        </ul>
                    </nav>
                    <div class="search_wrap search_style_regular search_state_fixed search_ajax">
                        <div class="search_form_wrap">
                            <form role="search" method="get" class="search_form" action="#">
                                <button type="submit" class="search_submit icon-search-1" title="Start search"></button>
                                <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                            </form>
                        </div>
                        <div class="search_results widget_area scheme_original">
                            <a class="search_results_close icon-cancel"></a>
                            <div class="search_results_content"></div>
                        </div>
                    </div>
                    <div class="login">
                        <a href="#popup_login" class="popup_link popup_login_link icon-user">Login</a>
                    </div>
                </div>
                <div class="panel_bottom">
                    <div class="contact_socials">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_gplus">
                                    <span class="icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_instagramm">
                                    <span class="icon-instagramm"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </div>
        <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
            <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner">
                <div class="content_wrap">
                    <h1 class="page_title">Gallery Grid</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index-2.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Gallery Grid</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_content_wrap page_paddings_yes">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page">
                        <section class="post_content">
                            <div class="sc_row row sc_row-fluid">
                                <div class="column sc_column_container sc_col-sm-12">
                                    <div class="sc_column-inner ">
                                        <div class="wrapper">
                                            <article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
                                                <div id="esg-grid-4-1" class="esg-grid">
                                                    <article class="esg-filters esg-singlefilters">
                                                        <div class="esg-filter-wrapper esg-fgc-4">
                                                            <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1">
                                                                <span>Filter - All</span>
                                                            </div>
                                                            <div class="esg-filterbutton" data-fid="49" data-pid="34" data-filter="filter-deep-tissue">
                                                                <span>Deep tissue</span>
                                                                <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                                                            </div>
                                                            <div class="esg-filterbutton" data-fid="52" data-pid="34" data-filter="filter-swedish-massage">
                                                                <span>Swedish massage</span>
                                                                <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                                                            </div>
                                                            <div class="esg-filterbutton" data-fid="51" data-pid="34" data-filter="filter-sports-massage">
                                                                <span>Sports massage</span>
                                                                <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                                                            </div>
                                                            <div class="esg-filterbutton" data-fid="50" data-pid="34" data-filter="filter-massage-therapy">
                                                                <span>Massage therapy</span>
                                                                <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                                                            </div>
                                                            <div class="eg-clearfix"></div>
                                                        </div>
                                                    </article>
                                                    <div class="esg-clear-no-height"></div>
                                                    <ul>
                                                        <li class="filterall filter-gallery filter-massage-therapy filter-massage-therapy eg-roosevelt-massage-wrapper eg-post-id-209" data-date="1459261695">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-10.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-209 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Massage for Athletes: Get Back in the Game</div>
                                                                    <div class="esg-center eg-post-209 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-209 esgbox" href="images/image-10.jpg" lgtitle="Massage for Athletes: Get Back in the Game">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-209 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-209" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-209" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-209 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-209" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-gallery filter-sports-massage filter-swedish-massage filter-sports-massage filter-swedish-massage eg-roosevelt-massage-wrapper eg-post-id-211" data-date="1459261777">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-2-1.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-211 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Benefits of Lymphatic Drainage Massage</div>
                                                                    <div class="esg-center eg-post-211 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-211 esgbox" href="images/image-2-1.jpg" lgtitle="Benefits of Lymphatic Drainage Massage">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-211 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-211" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-211" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-211" href="#" title="View all posts in Swedish massage" rel="category tag">Swedish massage</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-211 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-211" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-deep-tissue filter-gallery filter-deep-tissue eg-roosevelt-massage-wrapper eg-post-id-214" data-date="1459261918">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-11.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-214 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">How to Get the Most Out of Your Massage</div>
                                                                    <div class="esg-center eg-post-214 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-214 esgbox" href="images/image-11.jpg" lgtitle="How to Get the Most Out of Your Massage">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-214 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-214" href="#" title="View all posts in Deep tissue" rel="category tag">Deep tissue</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-214" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-214 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-214" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-gallery filter-massage-therapy filter-sports-massage filter-massage-therapy filter-sports-massage eg-roosevelt-massage-wrapper eg-post-id-216" data-date="1459261977">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-3-1.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-216 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">The Secret to Prevent You From Getting Sick</div>
                                                                    <div class="esg-center eg-post-216 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-216 esgbox" href="images/image-3-1.jpg" lgtitle="The Secret to Prevent You From Getting Sick">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-216 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-216" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-216" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-216" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-216 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-216" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-gallery filter-massage-therapy filter-massage-therapy eg-roosevelt-massage-wrapper eg-post-id-219" data-date="1459262022">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-12.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-219 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">How Does Massage Reduce Stress?</div>
                                                                    <div class="esg-center eg-post-219 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-219 esgbox" href="images/image-12.jpg" lgtitle="How Does Massage Reduce Stress?">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-219 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-219" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-219" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-219 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-219" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-deep-tissue filter-gallery filter-sports-massage filter-deep-tissue filter-sports-massage eg-roosevelt-massage-wrapper eg-post-id-221" data-date="1459262091">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-4-1.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-221 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Aromatherapy and Massage</div>
                                                                    <div class="esg-center eg-post-221 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-221 esgbox" href="images/image-4-1.jpg" lgtitle="Aromatherapy and Massage">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-221 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-221" href="#" title="View all posts in Deep tissue" rel="category tag">Deep tissue</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-221" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-221" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-221 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-221" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-gallery filter-sports-massage filter-sports-massage eg-roosevelt-massage-wrapper eg-post-id-224" data-date="1459262180">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-6.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-224 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">15 Reasons Why You Need to be Getting Massages</div>
                                                                    <div class="esg-center eg-post-224 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-224 esgbox" href="images/image-6.jpg" lgtitle="15 Reasons Why You Need to be Getting Massages">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-224 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-224" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-224" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-224 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-224" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-gallery filter-swedish-massage filter-swedish-massage eg-roosevelt-massage-wrapper eg-post-id-226" data-date="1459262255">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-1-1.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-226 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Massage Therapy: 7 Ways to Manage Pain</div>
                                                                    <div class="esg-center eg-post-226 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-226 esgbox" href="images/image-1-1.jpg" lgtitle="Massage Therapy: 7 Ways to Manage Pain">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-226 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-226" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-226" href="#" title="View all posts in Swedish massage" rel="category tag">Swedish massage</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-226 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-226" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="filterall filter-deep-tissue filter-gallery filter-massage-therapy filter-deep-tissue filter-massage-therapy eg-roosevelt-massage-wrapper eg-post-id-229" data-date="1459262301">
                                                            <div class="esg-media-cover-wrapper">
                                                                <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                                                    <img src="images/image-17.jpg" alt="">
                                                                </div>
                                                                <div class="esg-entry-cover">
                                                                    <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-229 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">The Top 5 Health Benefits of Regular Massage Therapy</div>
                                                                    <div class="esg-center eg-post-229 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
                                                                        <a class="eg-roosevelt-massage-element-2 eg-post-229 esgbox" href="images/image-17.jpg" lgtitle="The Top 5 Health Benefits of Regular Massage Therapy">
                                                                            <i class="eg-icon-search"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="esg-bottom eg-post-229 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-229" href="#" title="View all posts in Deep tissue" rel="category tag">Deep tissue</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-229" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>,
                                                                        <a class="eg-roosevelt-massage-element-4 eg-post-229" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-229 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                                                        <a class="eg-roosevelt-massage-element-1 eg-post-229" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-link"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                    <section class="related_wrap related_wrap_empty"></section>
                </div>
            </div>
        </div>
        <footer class="footer_wrap widget_area scheme_original">
            <div class="footer_wrap_inner widget_area_inner">
                <div class="content_wrap">
                    <div class="columns_wrap">
                        <aside class="column-1_4 widget widget_socials">
                            <div class="widget_inner">
                                <div class="logo">
                                    <a href="index-2.html">
                                        <img src="images/logo_dark.png" class="logo_main" alt="" width="195" height="51">
                                    </a>
                                </div>
                                <div class="logo_descr">Welcome to one of most relaxing salons, where our therapists offer tranquility whilst being treated.</div>
                            </div>
                        </aside>
                        <aside class="column-1_4 widget widget_text">
                            <h5 class="widget_title">Contacts</h5>
                            <div class="textwidget">
                                <ul class="sc_list_style_iconed ">
                                    <li>
                                        <span class="sc_list_icon icon-icon_pin"></span>
                                        1234 Some St San Francisco,<br/>
                                        CA 94102, US 1.800.123.4567
                                    </li>
                                    <li>
                                        <span class="sc_list_icon icon-icon_phone"></span>(123) 456 78 90
                                    </li>
                                    <li>
                                        <span class="sc_list_icon icon-icon_mail"></span>
                                        <a href="#">support@yoursite.com</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="column-1_4 widget widget_recent_posts">
                            <h5 class="widget_title">Recent Post</h5>
                            <article class="post_item no_thumb first">
                                <div class="post_content">
                                    <h6 class="post_title">
                                        <a href="single-post.html">Chiropractic</a>
                                    </h6>
                                    <div class="post_info">
                                        <span class="post_info_item post_info_posted">
                                            <a href="single-post.html" class="post_info_date">March 31, 2016</a>
                                        </span>
                                        <span class="post_info_item ">by
                                            <a href="single-post.html" class="post_info_author">Kate Green</a>
                                        </span>
                                        <span class="post_info_item post_info_counters">
                                            <a href="single-post.html" class="post_counters_item">
                                                <span class="post_counters_number"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </article>
                            <article class="post_item no_thumb">
                                <div class="post_content">
                                    <h6 class="post_title">
                                        <a href="single-post.html">Massage Therapy</a>
                                    </h6>
                                    <div class="post_info">
                                        <span class="post_info_item post_info_posted">
                                            <a href="single-post.html" class="post_info_date">March 31, 2016</a>
                                        </span>
                                        <span class="post_info_item ">by
                                            <a href="single-post.html" class="post_info_author">Kate Green</a>
                                        </span>
                                        <span class="post_info_item post_info_counters">
                                            <a href="single-post.html" class="post_counters_item">
                                                <span class="post_counters_number"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </aside>
                        <aside class="column-1_4 widget">
                            <ul class="instagram-pics instagram-size-large">
                                <li>
                                    <a href="http://instagram.com/p/BDqPIQOiAb2/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12677231_253027918375453_1649534054_ne25b.jpg?ig_cache_key=MTIxODg1MzE4NzAzNDI4NTgxNA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPG4fCAbs/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12918633_839382359520640_2147080131_nf4c4.jpg?ig_cache_key=MTIxODg1MzA5MjgyMTgyOTM1Ng%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPEx2CAbm/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12912543_796660627134197_1472131256_na5dd.jpg?ig_cache_key=MTIxODg1Mjk0ODI1MjU1OTA3OA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPCkuCAbg/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12912688_1403550456618757_975148170_n139d.jpg?ig_cache_key=MTIxODg1Mjc5NjcyMDc0NDE2MA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqO_x4CAbY/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/10632417_117727355292967_1787196746_n7d47.jpg?ig_cache_key=MTIxODg1MjYwNDY4ODcyOTgxNg%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqO9VGCAbU/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/925900_1157332147619463_1002029506_n036b.jpg?ig_cache_key=MTIxODg1MjQzNjM0NjE0NDQ2OA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright_wrap copyright_style_socials scheme_original">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="sc_socials sc_socials_type_text sc_socials_shape_square sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">twitter</a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_gplus">gplus</a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">facebook</a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_instagramm">instagramm</a>
                        </div>
                    </div>
                    <span class="beforeSocials">Connect With Us:</span>
                    <div class="copyright_text">
                        <p>Themerex  2016 All Rights Reserved
                            <a href="#" target="_blank">Terms of Use</a> and
                            <a href="#" target="_blank">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup_login" class="popup_wrap popup_login bg_tint_light">
    <a href="#" class="popup_close"></a>
    <div class="form_wrap">
        <div class="form_left">
            <form action="#" method="post" name="login_form" class="popup_form login_form">
                <input type="hidden" name="redirect_to" value="#">
                <div class="popup_form_field login_field iconed_field icon-user">
                    <input type="text" id="log" name="log" value="" placeholder="Login or Email">
                </div>
                <div class="popup_form_field password_field iconed_field icon-lock">
                    <input type="password" id="password" name="pwd" value="" placeholder="Password">
                </div>
                <div class="popup_form_field remember_field">
                    <a href="#" class="forgot_password">Forgot password?</a>
                    <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                    <label for="rememberme">Remember me</label>
                </div>
                <div class="popup_form_field submit_field">
                    <input type="submit" class="submit_button sc_button sc_button_style_filled" value="Login">
                </div>
            </form>
        </div>
        <div class="form_right">
            <div class="login_socials_title">You can login using your social profile</div>
            <div class="loginSoc login_plugin">
                <div class="wp-social-login-widget">
                    <div class="wp-social-login-connect-with">Connect with:</div>
                    <div class="wp-social-login-provider-list">
                        <a rel="nofollow" href="#" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook" data-provider="Facebook">
                            <img alt="" title="Connect with Facebook" src="images/facebook.png" />
                        </a>
                        <a rel="nofollow" href="#" title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google" data-provider="Google">
                            <img alt="" title="Connect with Google" src="images/google.png" />
                        </a>
                        <a rel="nofollow" href="#" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter" data-provider="Twitter">
                            <img alt="" title="Connect with Twitter" src="images/twitter.png" />
                        </a>
                    </div>
                    <div class="wp-social-login-widget-clearing"></div>
                </div>
            </div>
            <div class="result message_block"></div>
        </div>
    </div>
</div>
<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>



<script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
<script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='js/vendor/essgrid/lightbox.js'></script>
<script type='text/javascript' src='js/vendor/essgrid/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='js/vendor/essgrid/jquery.themepunch.essential.min.js'></script>
<script type='text/javascript' src='js/vendor/modernizr.min.js'></script>
<script type='text/javascript' src='js/custom/custom.js'></script>
<script type='text/javascript' src='js/vendor/superfish.js'></script>
<script type='text/javascript' src='js/vendor/jquery.slidemenu.js'></script>
<script type='text/javascript' src='js/custom/core.utils.js'></script>
<script type='text/javascript' src='js/custom/core.init.js'></script>
<script type='text/javascript' src='js/custom/theme.init.js'></script>
<script type='text/javascript' src='js/vendor/social-share.js'></script>
<script type='text/javascript' src='js/custom/theme.shortcodes.js'></script>
<script type='text/javascript' src='js/custom/core.messages.js'></script>
<script type='text/javascript' src='js/vendor/grid.layout/grid.layout.min.js'></script>
</body>


<!-- Mirrored from jacqueline-html.themerex.net/gallery-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:24:56 GMT -->
</html>