<!DOCTYPE html>
<html lang="en-US" class="scheme_original">


<!-- Mirrored from jacqueline-html.themerex.net/gallery-polaroid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:24:56 GMT -->

<head>
    <title>gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='css/admin_icon.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Mr+De+Haviland|Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese'
        type='text/css' media='all' />
    <link rel='stylesheet' href='../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.minb2f9.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/instagram-widget.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/grid.layout/grid.layout.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/photostack/component.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/plugins.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
</head>

<body class="gpolaroid page body_filled theme_skin_less article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide preloader wpb-js-composer sc_responsive">
    <div id="page_preloader"></div>
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap top_panel_style_3 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                    <div class="top_panel_middle">
                        <div class="content_wrap">
                            <div class="contact_logo">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                                        <img src="images/Logo.png" class="logo_fixed" alt="" width="238" height="56">
                                    </a>
                                </div>
                            </div>
                            <div class="menu_main_wrap">
                          <nav class="menu_main_nav_area">
                            <ul class="menu_main_nav">
                                <li class="menu-item current-menu-ancestor current-menu-parent"><a href="/index">Home</a></li>

                                <!--the gallery  
                                    <li class="menu-item menu-item-has-children"><a>Gallery</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="gallery-grid">Grid</a></li>
                                            <li class="menu-item"><a href="gallery-masonry">Masonry</a></li>
                                            <li class="menu-item"><a href="gallery-cobbles">Cobbles</a></li>
                                        </ul>
                                    </li> 
                                -->
                                <li class="menu-item menu-item-has-children"><a>Treatment</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/treatment">Treatment</a></li>
                                        <li class="menu-item"><a href="/mini-treatment">Mini Treatment</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a>Beauty</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/beauty">Beauty Treatment</a></li>
                                        <li class="menu-item"><a href="/beauty-scr">Beauty Scrubes</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/gallery-polaroid"> gallery</a></li>
                                <li class="menu-item menu-item-has-children"><a>About us</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item "><a href="/about-us">About</a> </li>
                                        <li class="menu-item"><a href="/services">Services</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item"><a href="/contacts">Contacts Us</a></li>

                            </ul>
                        </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                        </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <div class="panel_top">
                    <nav class="menu_main_nav_area">
                            <ul class="menu_main_nav">
                                <li class="menu-item current-menu-ancestor current-menu-parent"><a href="/index">Home</a></li>

                                <!--the gallery  
                                    <li class="menu-item menu-item-has-children"><a>Gallery</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="gallery-grid">Grid</a></li>
                                            <li class="menu-item"><a href="gallery-masonry">Masonry</a></li>
                                            <li class="menu-item"><a href="gallery-cobbles">Cobbles</a></li>
                                        </ul>
                                    </li> 
                                -->
                                <li class="menu-item menu-item-has-children"><a>Treatment</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/treatment">Treatment</a></li>
                                        <li class="menu-item"><a href="/mini-treatment">Mini Treatment</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a>Beauty</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/beauty">Beauty Treatment</a></li>
                                        <li class="menu-item"><a href="/beauty-scr">Beauty Scrubes</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/gallery-polaroid"> gallery</a></li>
                                <li class="menu-item menu-item-has-children"><a>About us</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item "><a href="/about-us">About</a> </li>
                                        <li class="menu-item"><a href="/services">Services</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item"><a href="/contacts">Contacts Us</a></li>

                            </ul>
                        </nav>
                        <div class="search_wrap search_style_regular search_state_fixed search_ajax">
                            <div class="search_form_wrap">
                                <form role="search" method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-search-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                                </form>
                            </div>
                            <div class="search_results widget_area scheme_original">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                        <div class="login">
                            <a href="#popup_login" class="popup_link popup_login_link icon-user">Login</a>
                        </div>
                    </div>
                    <div class="panel_bottom">
                        <div class="contact_socials">
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_gplus">
                                        <span class="icon-gplus"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_instagramm">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mask"></div>
            </div>
            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                <div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-fluid sc_custom_1459848155774 sc_row-no-padding">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div id="sc_blogger_1846926780" class="sc_blogger layout_polaroid template_polaroid  sc_blogger_horizontal">
                                                    <div class="sc_blogger_elements">
                                                        <div class="photostack">
                                                            <div>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-10-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">Massage for Athletes: Get Back in the Game</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-2-1-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">Benefits of Lymphatic Drainage Massage</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-11-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">How to Get the Most Out of Your Massage</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-3-1-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">The Secret to Prevent You From Getting Sick</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-12-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">How Does Massage Reduce Stress?</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-4-1-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">Aromatherapy and Massage</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-6-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">15 Reasons Why You Need to be Getting Massages</h6>
                                                                        <div class="photostack-back">
                                                                            <p>60 min $100 / 90 min $145</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-1-1-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">Massage Therapy: 7 Ways to Manage Pain</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                                <figure class="post_item sc_blogger_item sc_polaroid_item sc_blogger_item_last">
                                                                    <a href="#" class="photostack-img">
                                                                        <img alt="" src="images/image-17-370x370.jpg">
                                                                    </a>
                                                                    <figcaption class="photostack_info">
                                                                        <h6 class="post_title sc_title sc_blogger_title sc_polaroid_title photostack-title">The Top 5 Health Benefits of Regular Massage Therapy</h6>
                                                                        <div class="photostack-back">
                                                                            <p>Personalized Massage</p>
                                                                            <p><br/>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                                                        </div>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div class="sc_row row sc_row-fluid">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_empty_space em_height_5-7">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
                                                    <div class="column-1_3 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center cu_block_8">About us</h5>
                                                        <div class="text_column content_element">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">
                                                                    "Ambrai Spa! The sooting tactilityof the name eases the mind from the clattery world around Gardens can incorporate both natual and man made materials and with the same concept we bring Ambrai down our town. A heart pleasing place where mineral rich spring
                                                                    water is used to give medicinal bath, veda techniques are used to give you soul enhancing smear."</p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-1_3 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center cu_block_8">Open Hours</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">
                                                                    Mon-Fri: 9 AM &#8211; 6 PM<br/> Saturday: 9 AM &#8211; 4 PM<br/> Sunday: Closed
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-1_3 sc_column_item sc_column_item_3">
                                                        <h5 class="sc_title sc_title_regular sc_align_center cu_block_8">Contacts</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">
                                                                    3rd Floor 16A, Sudha Nagar Society, Above All Phones Near Oven Magick, Jetalpur Rd, Chikuwadi, Vadodara, Gujarat 390007<br/> Email:
                                                                    <a href="#">ambraispa@gmail.com </a>
                                                                    <br/> Telephone: (+91)7211123450
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer_wrap widget_area scheme_original">
            <div class="footer_wrap_inner widget_area_inner">
                <div class="content_wrap">
                    <div class="columns_wrap">
                        <aside class="column-1_3 widget widget_socials">
                            <div class="widget_inner">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/Logo.png" class="logo_main" alt="" width="195" height="51">
                                    </a>
                                </div>
                                <div class="logo_descr">Welcome to one of most relaxing salons, where our therapists offer tranquility whilst being treated.</div>
                            </div>
                        </aside>
                        <aside class="column-1_3 widget widget_text">
                            <h5 class="widget_title">Contacts</h5>
                            <div class="textwidget">
                                <ul class="sc_list_style_iconed ">
                                    <li>
                                        <span class="sc_list_icon icon-icon_pin"></span>3rd Floor 16A, Sudha Nagar Society, Above All Phones Near Oven Magick, Jetalpur Rd, Chikuwadi, Vadodara, Gujarat 390007
                                    </li>
                                    <li>
                                        <span class="sc_list_icon icon-icon_phone"></span>(+91)7211123450
                                    </li>
                                    <li>
                                        <span class="sc_list_icon icon-icon_mail"></span>
                                        <a href="#"> ambraispa@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="column-1_3 widget">
                            <ul class="instagram-pics instagram-size-large">
                                <li>
                                    <a href="http://instagram.com/p/BDqPIQOiAb2/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12677231_253027918375453_1649534054_ne25b.jpg?ig_cache_key=MTIxODg1MzE4NzAzNDI4NTgxNA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPG4fCAbs/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12918633_839382359520640_2147080131_nf4c4.jpg?ig_cache_key=MTIxODg1MzA5MjgyMTgyOTM1Ng%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPEx2CAbm/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12912543_796660627134197_1472131256_na5dd.jpg?ig_cache_key=MTIxODg1Mjk0ODI1MjU1OTA3OA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqPCkuCAbg/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12912688_1403550456618757_975148170_n139d.jpg?ig_cache_key=MTIxODg1Mjc5NjcyMDc0NDE2MA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqO_x4CAbY/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/10632417_117727355292967_1787196746_n7d47.jpg?ig_cache_key=MTIxODg1MjYwNDY4ODcyOTgxNg%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://instagram.com/p/BDqO9VGCAbU/" target="_self">
                                        <img src="../scontent-frt3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/925900_1157332147619463_1002029506_n036b.jpg?ig_cache_key=MTIxODg1MjQzNjM0NjE0NDQ2OA%3D%3D.2" alt="" title="Instagram Image" />
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright_wrap copyright_style_socials scheme_original">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="sc_socials sc_socials_type_text sc_socials_shape_square sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">twitter</a>
                        </div>

                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">facebook</a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_instagramm">instagramm</a>
                        </div>
                    </div>
                    <span class="beforeSocials">Connect With Us:</span>
                    <div class="copyright_text">
                        <p> <a href="#"> Ambrai Spa </a>&#169; 2018 All Rights Reserved
                            <br> Developed by
                            <a href="http://www.bdigital.tech">Be.Digital</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>



    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/vendor/modernizr.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/superfish.js'></script>
    <script type='text/javascript' src='js/vendor/jquery.slidemenu.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/theme.init.js'></script>
    <script type='text/javascript' src='js/vendor/social-share.js'></script>
    <script type='text/javascript' src='js/custom/theme.shortcodes.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/vendor/grid.layout/grid.layout.min.js'></script>
    <script type='text/javascript' src='js/vendor/photostack/modernizr.min.js'></script>
    <script type='text/javascript' src='js/vendor/photostack/photostack.js'></script>
    <script type='text/javascript' src='js/vendor/photostack/classie.js'></script>
</body>


<!-- Mirrored from jacqueline-html.themerex.net/gallery-polaroid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:25:09 GMT -->

</html>