<!DOCTYPE>


<!-- Mirrored from jacqueline.themerex.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:15:08 GMT -->

<head>
    <title> Ambraispa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text; charset=UTF-8" />
    <link rel='stylesheet' href='css/admin_icon.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Mr+De+Haviland|Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese'
        type='text/css' media='all' />
    <link rel='stylesheet' href='../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.minb2f9.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essgrid/esg.settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/revslider/rev.settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/booked/booked.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/instagram-widget.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/grid.layout/grid.layout.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/swiper/swiper.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essgrid/lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/plugins.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
</head>

<body class="home page body_filled article_style_stretch scheme_original preloader top_panel_above sidebar_hide sidebar_outer_hide sc_responsive">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap top_panel_style_4 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_4 top_panel_position_above">
                    <div class="top_panel_top">
                        <div class="content_wrap clearfix">
                            <div class="top_panel_top_contact_area">Contact Us: ambraispa@gmail.com</div>
                            <div class="top_panel_top_contact_area">Call Us (+91)7211123450</div>
                            <div class="top_panel_top_user_area">
                                <ul class="menu_user_nav">
                                </ul>
                            </div>
                            <div class="top_panel_top_socials">
                                <span class="label">Stay connected: </span>
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_twitter">
                                            <span class="icon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_gplus">
                                            <span class="icon-gplus"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_facebook">
                                            <span class="icon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_instagramm">
                                            <span class="icon-instagramm"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top_panel_middle">
                        <div class="content_wrap">
                            <div class="contact_logo">
                                <div class="logo">
                                    <a href="index">
                                        <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                                        <img src="images/Logo.png" class="logo_fixed" alt="" width="238" height="56">
                                    </a>
                                </div>
                            </div>
                            <div class="menu_main_wrap">
                                <nav class="menu_main_nav_area">
                                    <ul class="menu_main_nav">
                                        <li class="menu-item current-menu-ancestor current-menu-parent"><a href="index">Home</a></li>

                                        <!--the gallery  
                                            <li class="menu-item menu-item-has-children"><a>Gallery</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="gallery-grid">Grid</a></li>
                                                    <li class="menu-item"><a href="gallery-masonry">Masonry</a></li>
                                                    <li class="menu-item"><a href="gallery-cobbles">Cobbles</a></li>
                                                </ul>
                                            </li> 
                                        -->
                                        <li class="menu-item menu-item-has-children"><a>Treatment</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="/treatment">Treatment</a></li>
                                                <li class="menu-item"><a href="/mini-treatment">Mini Treatment</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a>Beauty</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="/beauty">Beauty Treatment</a></li>
                                                <li class="menu-item"><a href="/beauty-scr">Beauty Scrubes</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="/gallery-polaroid"> gallery</a></li>
                                        <li class="menu-item menu-item-has-children"><a>About us</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item "><a href="/about-us">About</a> </li>
                                                <li class="menu-item"><a href="/services">Services</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu-item"><a href="/contacts">Contacts Us</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="/">
                            <img src="images/Logo.png" class="logo_main" alt="" width="238" height="56">
                        </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <div class="panel_top">
                        <nav class="menu_main_nav_area">
                            <ul class="menu_main_nav">
                                <li class="menu-item current-menu-ancestor current-menu-parent"><a href="/">Home</a></li>

                                <!--the gallery  
                                    <li class="menu-item menu-item-has-children"><a>Gallery</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="gallery-grid">Grid</a></li>
                                            <li class="menu-item"><a href="gallery-masonry">Masonry</a></li>
                                            <li class="menu-item"><a href="gallery-cobbles">Cobbles</a></li>
                                        </ul>
                                    </li> 
                                -->
                                <li class="menu-item menu-item-has-children"><a>Treatment</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/treatment">Treatment</a></li>
                                        <li class="menu-item"><a href="/mini-treatment">Mini Treatment</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a>Beauty</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/beauty">Beauty Treatment</a></li>
                                        <li class="menu-item"><a href="/beauty-scr">Beauty Scrubes</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/gallery-polaroid"> gallery</a></li>
                                <li class="menu-item menu-item-has-children"><a>About us</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item "><a href="/about-us">About</a> </li>
                                        <li class="menu-item"><a href="/services">Services</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item"><a href="/contacts">Contacts Us</a></li>

                            </ul>
                        </nav>
                        <div class="search_wrap search_style_regular search_state_fixed search_ajax">
                            <div class="search_form_wrap">
                                <form role="search" method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-search-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="Search" value="" name="s" />
                                </form>
                            </div>
                            <div class="search_results widget_area scheme_original">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-icon_phone"></span>
                            <span class="contact_label contact_phone">(+91) 7211123450</span>
                        </div>
                        <div class="contact_field contact_mail">
                            <span class="contact_icon icon-mail"></span>
                            <span class="contact_email">info@yoursite.com</span>
                        </div>
                        <div class="top_panel_top_open_hours icon-clock">Mon - Fry 10:00 - 18:00</div>
                        <div class="top_panel_top_user_area">
                            <ul class="menu_user_nav">
                            </ul>
                        </div>
                    </div>
                    <div class="panel_bottom">
                        <div class="contact_socials">
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_gplus">
                                        <span class="icon-gplus"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </div>
                                <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_instagramm">
                                        <span class="icon-instagramm"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mask"></div>
            </div>
            <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_home-1">
                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" data-version="5.2.6">
                        <ul>
                            <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/1-1-100x50.jpg" data-delay="9000" data-rotate="0"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <img src="images/1-1.jpg" alt="" title="1" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" data-y="['middle','middle','middle','middle']" data-voffset="['-117','-117','-117','-167']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                                    <img src="images/Vector-Smart-Object-6.png" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
                                </div>
                                <div class="tp-caption black tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" data-y="['middle','middle','middle','middle']" data-voffset="['-67','-67','-67','-123']" data-fontsize="['68','68','68','55']"
                                    data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Visit one of our multiple </div>
                                <div class="tp-caption black tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['-5','-5','-5','-37']" data-fontsize="['68','68','60','55']"
                                    data-lineheight="['68','68','60','55']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">sessions of relaxation </div>
                                <div class="tp-caption black tp-resizeme" id="slide-1-layer-3" data-x="['center','center','center','center']" data-hoffset="['1','1','1','3']" data-y="['middle','middle','middle','middle']" data-voffset="['63','63','63','70']" data-fontsize="['17','17','17','20']"
                                    data-lineheight="['30','30','30','25']" data-width="['none','none','none','550']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">You owe yourself this moment. Make an appointment in just a click! </div>
                                <div class="tp-caption black tp-resizeme" id="slide-1-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" data-y="['middle','middle','middle','middle']" data-voffset="['142','142','142','163']" data-fontsize="['11','11','11','15']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(1,165,23, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                                    data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"contacts","delay":""}]'
                                    data-responsive_offset="on">make an appointment </div>
                            </li>
                            <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/3-2-100x50.jpg" data-delay="9000" data-rotate="0"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <img src="images/3-2.jpg" alt="" title="3" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <div class="tp-caption tp-resizeme" id="slide-4-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-117','-117','-117','-173']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                                    <img src="images/Vector-Smart-Object-6.png" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
                                </div>
                                <div class="tp-caption black tp-resizeme" id="slide-4-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-67','-67','-67','-130']" data-fontsize="['68','68','68','55']"
                                    data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Welcome to our </div>
                                <div class="tp-caption black tp-resizeme" id="slide-4-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-5','-5','-5','-40']" data-fontsize="['68','68','60','55']"
                                    data-lineheight="['68','68','60','55']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">massage theraphy center </div>
                                <div class="tp-caption black tp-resizeme" id="slide-4-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['61','61','61','61']" data-fontsize="['17','17','17','20']"
                                    data-lineheight="['30','30','30','25']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Give yourself a moment to relax. Find a minute to rejuvenate your body </div>
                                <div class="tp-caption black tp-resizeme" id="slide-4-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['142','142','142','142']" data-fontsize="['11','11','11','15']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(1,165,23, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                                    data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"contacts","delay":""}]'
                                    data-responsive_offset="on">Make An Appointment </div>
                            </li>
                            <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/2-3-100x50.jpg" data-delay="9000" data-rotate="0"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <img src="images/2-3.jpg" alt="" title="2" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <div class="tp-caption tp-resizeme" id="slide-3-layer-5" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-158','-158','-158','-118']" data-width="none"
                                    data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                                    <img src="images/Vector-Smart-Object-6.png" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
                                </div>
                                <div class="tp-caption black tp-resizeme" id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-107','-107','-107','-79']" data-fontsize="['68','68','68','55']"
                                    data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Modern and attractive </div>
                                <div class="tp-caption black tp-resizeme" id="slide-3-layer-2" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-45','-45','-45','-24']" data-fontsize="['68','68','60','55']"
                                    data-lineheight="['68','68','60','55']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;"
                                    data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Ambrai </div>
                                <div class="tp-caption black tp-resizeme" id="slide-3-layer-3" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['23','23','23','43']" data-fontsize="['17','17','17','20']"
                                    data-lineheight="['30','30','30','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;"
                                    data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">mellow like a chirping bird Restful Like an oak Composed alike soil and calm as the clear azure. </div>
                                <div class="tp-caption black tp-resizeme" id="slide-3-layer-4" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['102','102','102','127']" data-fontsize="['11','11','11','15']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(1,165,23, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                                    data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"contacts","delay":""}]'
                                    data-responsive_offset="on">read more info </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div>
            </section>
            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459259915855">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">

                                            <div class=" em_height_8">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-no-padding">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_promo custom_promo_services sc_promo_size_large">
                                                    <div class="sc_promo_inner">
                                                        <div class="sc_promo_image odd"></div>
                                                        <div class="sc_promo_block sc_align_left cu_halfwidth cu_fl_R">
                                                            <div class="sc_promo_block_inner cu_nopadds">
                                                                <div class="sc_promo_content">
                                                                    <div id="sc_services_350_wrap" class="sc_services_wrap">
                                                                        <div id="sc_services_350" class="sc_services sc_services_style_services-2 sc_services_type_icons cu_fullwidth">
                                                                            <div class="sc_columns columns_wrap">
                                                                                <div class="column-1_2 column_padding_bottom">
                                                                                    <div id="sc_services_350_1" class="sc_services_item">
                                                                                        <a>
                                                                                            <span class="sc_icon icon-massage4"></span>
                                                                                        </a>
                                                                                        <div class="sc_services_item_content">
                                                                                            <h4 class="sc_services_item_title">
                                                                                                <a>Massage Therapy</a>
                                                                                            </h4>
                                                                                            <div class="sc_services_item_description">
                                                                                                <p>We use different types of massage for a variety of health-related purposes</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="column-1_2 column_padding_bottom">
                                                                                    <div id="sc_services_350_2" class="sc_services_item">
                                                                                        <a>
                                                                                            <span class="sc_icon icon-chairs16"></span>
                                                                                        </a>
                                                                                        <div class="sc_services_item_content">
                                                                                            <h4 class="sc_services_item_title">
                                                                                                <a>Physiotherapy</a>
                                                                                            </h4>
                                                                                            <div class="sc_services_item_description">
                                                                                                <p>It helps restore movement and function when someone is affected by injury</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="column-1_2 column_padding_bottom">
                                                                                    <div id="sc_services_350_3" class="sc_services_item">
                                                                                        <a>
                                                                                            <span class="sc_icon icon-relax43"></span>
                                                                                        </a>
                                                                                        <div class="sc_services_item_content">
                                                                                            <h4 class="sc_services_item_title">
                                                                                                <a>Hot Stone Massage</a>
                                                                                            </h4>
                                                                                            <div class="sc_services_item_description">
                                                                                                <p>The therapist uses smooth, heated stones by placing them on the body</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="column-1_2 column_padding_bottom">
                                                                                    <div id="sc_services_350_4" class="sc_services_item">
                                                                                        <a>
                                                                                            <span class="sc_icon icon-sport161"></span>
                                                                                        </a>
                                                                                        <div class="sc_services_item_content">
                                                                                            <h4 class="sc_services_item_title">
                                                                                                <a>Sports Massage</a>
                                                                                            </h4>
                                                                                            <div class="sc_services_item_description">
                                                                                                <p>Provides innovative bodywork and geared toward the needs of athletics</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459330954110 scheme_original inverse_colors">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="columns_wrap sc_columns columns_nofluid custom_columns_brands equal_height">
                                                    <div class="column-1_4 sc_column_item">
                                                        <div class="sc_column_item_inner">
                                                            <h6 class="sc_title sc_title_regular">We use products of the best brands only</h6>
                                                        </div>
                                                    </div>
                                                    <div class="column-3_4 sc_column_item span_3">
                                                        <div id="sc_clients_387_wrap" class="sc_clients_wrap">
                                                            <div id="sc_clients_387" class="sc_clients sc_clients_style_clients-1 cu_fullwidth">
                                                                <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="9415" data-slides-per-view="3" data-slides-min-width="100">
                                                                    <div class="slides swiper-wrapper">
                                                                        <div class="swiper-slide" data-style="width:100%;">
                                                                            <div id="sc_clients_387_1" class="sc_clients_item">
                                                                                <div class="sc_client_image">
                                                                                    <img alt="" src="images/logo-4.png">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide" data-style="width:100%;">
                                                                            <div id="sc_clients_387_2" class="sc_clients_item">
                                                                                <div class="sc_client_image">
                                                                                    <img alt="" src="images/logo-2.png">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide" data-style="width:100%;">
                                                                            <div id="sc_clients_387_3" class="sc_clients_item">
                                                                                <div class="sc_client_image">
                                                                                    <img alt="" src="images/logo-1.png">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_slider_controls_wrap">
                                                                        <a class="sc_slider_prev" href="#"></a>
                                                                        <a class="sc_slider_next" href="#"></a>
                                                                    </div>
                                                                    <div class="sc_slider_pagination_wrap"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div class="sc_row row">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_empty_space em_height_8-4">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <div class="columns_wrap sc_columns columns_nofluid">
                                                    <div class="column-1_4 sc_column_item">
                                                        <div class="sc_empty_space hide_on_responsive em_height_4-4">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                        <h2 class="sc_title sc_title_regular">Open Hours:</h2>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p>If you feel tired and stressed after a working day, we are happy to give you an enjoyable and healthy solution to find your balance again.</p>
                                                            </div>
                                                        </div>
                                                        <div class="text_column content_element sc_custom_1459352457001">
                                                            <div class="wrapper">
                                                                <ul>
                                                                    <li>Mon-Fri: 9 AM &#8211; 6 PM</li>
                                                                    <li>Saturday: 9 AM &#8211; 4 PM</li>
                                                                    <li>Sunday: Closed</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <a href="contacts" class="sc_button sc_button_square sc_button_style_border sc_button_size_base cu_mrg_1">Read More</a>
                                                        <div class="sc_empty_space em_height_3-8">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-3_4 sc_column_item span_3">
                                                        <div class="sc_promo custom_promo_01 scheme_light sc_promo_size_large">
                                                            <div class="sc_promo_inner">
                                                                <div class="sc_promo_image even"></div>
                                                                <div class="sc_promo_block sc_align_left cu_block_1">
                                                                    <div class="sc_promo_block_inner cu_pds_1">
                                                                        <div class="sc_promo_content">
                                                                            <h6 class="sc_title sc_title_regular sc_align_right custom_title_01">01</h6>
                                                                            <h6 class="sc_title sc_title_regular cu_block_2">
                                                                                <em> July 4, 2015  /  0 Comments</em>
                                                                            </h6>
                                                                            <h2 class="sc_title sc_title_regular">
                                                                                <a href="#">
                                                                                Massage<br/>
                                                                                Therapy<br/>
                                                                                for rest &amp;<br/>
                                                                                relaxation
                                                                            </a>
                                                                            </h2>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_empty_space em_height_8-4">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459341675644 inverse_colors">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_section custom_services_pricing sc_section_block alignright max_width">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay">
                                                            <div class="sc_section_content padding_on">
                                                                <div class="sc_section_content_wrap">
                                                                    <h1 class="sc_title sc_title_regular">Services &amp; Pricing</h1>
                                                                    <div class="text_column content_element ">
                                                                        <div class="wrapper">
                                                                            <p>At our massage theraphy center, each massage is customized according to the client's individual needs as well as the therapist's own talents and training.</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text_column content_element sc_custom_1459344743835">
                                                                        <div class="wrapper">
                                                                            <table>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <em>THAILAND SIGNATURE
                                                                                                Massage</em>
                                                                                        </td>
                                                                                        <td>
                                                                                            <div class="cu_text_r">
                                                                                                <em>60 min  1,500.00 / 90 min  2,100.00</em>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <em>Deep Tissue
                                                                                                Massage</em>
                                                                                        </td>
                                                                                        <td>
                                                                                            <div class="cu_text_r">
                                                                                                <em>60 min  2,000.00 / 90 min  2,500.00</em>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <em>Hot Stone Massage</em>
                                                                                        </td>
                                                                                        <td>
                                                                                            <div class="cu_text_r">
                                                                                                <em>60 min  4,000.00 / 90 min  4,500.00</em>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <a href="contacts" class="sc_button sc_button_square sc_button_style_border sc_button_size_base cu_mrg_1">Make An Appoinment</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459346050873">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_empty_space em_height_8-3">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <div class="sc_empty_space em_height_6">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459347818729 inverse_colors">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <div class="sc_empty_space em_height_11-4">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <div id="sc_call_to_action_389" class="sc_call_to_action sc_call_to_action_style_2 sc_call_to_action_align_center cu_fullwidth">
                                                    <div class="sc_call_to_action_info">
                                                        <h6 class="sc_call_to_action_subtitle sc_item_subtitle">Our Special Offer</h6>
                                                        <h2 class="sc_call_to_action_title sc_item_title">You owe yourself this moment</h2>
                                                        <div class="sc_call_to_action_descr sc_item_descr">Visit one of our multiple sessions of relaxation.</div>
                                                    </div>
                                                    <div class="sc_call_to_action_buttons sc_item_buttons">
                                                        <div class="sc_call_to_action_button sc_item_button">
                                                            <a href="contacts" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">
                                                                <div>
                                                                    <span class="first">make an appointment</span>
                                                                    <span class="second">make an appointment</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_empty_space em_height_10-5">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_row-full-width"></div>
                                <div class="sc_row row">
                                    <div class="column sc_column_container sc_col-sm-12">
                                        <div class="sc_column-inner ">
                                            <div class="wrapper">
                                                <a href="#" class="sc_icon icon-up sc_icon_shape_square aligncenter scroll_to_top show"></a>
                                                <div class="sc_empty_space em_height_5-7">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
                                                    <div class="column-1_3 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center">About us</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">Come in and our therapists provide the perfect treatment. Our massage is specially designed to help you achieve the perfect mind-body harmony</p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-1_3 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center">Open Hours</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">
                                                                    Mon-Fri: 9 AM &#8211; 6 PM
                                                                    <br/> Saturday: 9 AM &#8211; 4 PM
                                                                    <br/> Sunday: Closed
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                    <div class="column-1_3 sc_column_item">
                                                        <h5 class="sc_title sc_title_regular sc_align_center">Contacts</h5>
                                                        <div class="text_column content_element ">
                                                            <div class="wrapper">
                                                                <p class="cu_text_c">
                                                                    3rd Floor 16A, Sudha Nagar Society, Above All Phones Near Oven Magick, Jetalpur Rd, Chikuwadi, Vadodara, Gujarat 390007
                                                                    <br/> Email: <a href="#">ambraispa@gmail.com</a>
                                                                    <br/> Telephone: (+91) 7211123450

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_empty_space em_height_3">
                                                            <span class="sc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                                                <h5 class="sc_title sc_title_regular sc_align_center">Newsletter</h5>
                                                <div class="sc_emailer aligncenter sc_emailer_opened">
                                                    <form class="sc_emailer_form">
                                                        <input type="text" class="sc_emailer_input" name="email" value="" placeholder="Please, enter you email address.">
                                                        <a href="#" class="sc_emailer_button sc_button sc_button_style_filled sc_button_size_medium" title="Submit" data-group="E-mailer subscription">
                                                            <div>
                                                                <span class="first">Subscribe</span>
                                                                <span class="second">Subscribe</span>
                                                            </div>
                                                        </a>
                                                    </form>
                                                </div> --}}
                                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small cu_block_3">
                                                    <div class="sc_socials_item">
                                                        <a href="#" target="_blank" class="social_icons social_twitter">
                                                            <span class="icon-twitter"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="#" target="_blank" class="social_icons social_gplus">
                                                            <span class="icon-gplus"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="#" target="_blank" class="social_icons social_facebook">
                                                            <span class="icon-facebook"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="#" target="_blank" class="social_icons social_instagramm">
                                                            <span class="icon-instagramm"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <p class="cu_text_c">
                                                    <a href="www.ambraispa.in"> Ambrai Spa </a>&#169; 2016 All Rights Reserved
                                                    <br>Developed by Be.Digital

                                                </p>
                                                <div class="sc_empty_space em_height_4-2">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/vendor/essgrid/lightbox.js'></script>
    <script type='text/javascript' src='js/vendor/essgrid/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='js/vendor/essgrid/jquery.themepunch.essential.min.js'></script>
    <script type='text/javascript' src='js/vendor/revslider/jquery.themepunch.revolution.min.js'></script>
    <script type="text/javascript" src="js/vendor/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/vendor/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script type='text/javascript' src='js/vendor/modernizr.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/superfish.js'></script>
    <script type='text/javascript' src='js/vendor/jquery.slidemenu.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/theme.init.js'></script>
    <script type='text/javascript' src='js/vendor/social-share.js'></script>
    <script type='text/javascript' src='js/custom/theme.shortcodes.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/vendor/grid.layout/grid.layout.min.js'></script>
    <script type='text/javascript' src='js/vendor/swiper/swiper.js'></script>
    <script type='text/javascript' src='js/vendor/isotope/isotope.min.js'></script>
</body>


<!-- Mirrored from jacqueline.themerex.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Jul 2018 16:15:58 GMT -->

<>