<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    
<!-- Mirrored from html.medhati.com/trendy/timer-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jul 2018 12:10:31 GMT -->
<head>
		<title>Ambrai Spa</title>
		<meta name="description" content="Ambrai Spa">
		<meta name="keywords" content="Ambrai Spa">
		<meta name="author" content="Viral Patel">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		
		<!-- Apple Icon -->
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Plugins CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/scroll.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/lightbox/lightbox.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/skin.css">
		
		<!-- Fonts CSS -->
		<link rel="stylesheet" href="css/fa.css">
		<link rel="stylesheet" href="css/ti.css">
		
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>

    <body class="light" id="lime">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<!-- PRELOADER -->
		<div class="preloader">
			<div class="loader">
				<svg width="200" height="200" viewBox="0 0 40 60"><polygon class="triangle" fill="none" stroke="#fff" stroke-width="1" points="16,1 32,32 1,32"/></svg>
			</div>
		</div>
		<!-- /END PRELOADER -->
		
		<!-- BACKGROUND -->
		<aside>
			<div id="background" class="background">
				<div class="image layer" data-depth="0.10"></div>
			</div>
		</aside>
		<!-- /END BACKGROUND -->
		
		<main>
			<div class="header-wrap" data-m3d-perspective="300" data-m3d-speed="400" data-m3d-max="10" data-m3d>
				<!-- HOME PAGE -->
				<header>
					<div class="container">
						<div class="row">
							<div class="text-wrap col-md-12">
								<div class="content-wrap">
									<div class="content">
										<!-- HOME PAGE CONTENT -->
										<div class="row parallax">
											<div class="col-md-12 layer" data-depth="0.20">
												<!-- LOGO -->
												<h1>Ambrai Spa</h1>
												{{!-- <img src="img/logo.png" width="120" alt="logo trendy" class="mb-20 an-start" data-an="fadeInUp" data-an-delay="0.7s" data-an-duration="1s"> --}}
												<!-- /END LOGO -->
												
												<!-- TITLE -->
												<h1 class="an-start" data-an="fadeInUp" data-an-delay="1s" data-an-duration="1s">Coming Soon...</h1>
												<!-- /END TITLE -->
												
												<!-- COUNTDOWN -->
											{{!-- 	<div class="countdown mb-20 an-start" data-an="fadeInUp" data-an-delay="1.3s" data-an-duration="1s">
													<span class="digits days"></span> :
													<span class="digits hours"></span> :
													<span class="digits minutes"></span> :
													<span class="digits seconds"></span>
												</div> --}}
												<!-- /END COUNTDOWN -->
												
												<!-- CONTENT -->
											{{!-- 	<p class="an-start" data-an="fadeInUp" data-an-delay="1.6s" data-an-duration="1s">Perfect and awesome template to present your future product or service.<br/>Hooking audience attention is all in the opener.</p> --}}
												<!-- /END CONTENT -->
												
												<!-- BUTTONS -->
												{{!-- <a href="#" data-toggle="modal" data-target=".newsletter" class="btn btn-white btn-border btn-icon an-start" data-an="fadeInUp" data-an-delay="1.9s" data-an-duration="1s"><span>Subscribe</span><i class="ti-bell"></i></a>
												<a href="#" class="btn btn-primary an-start readmore" data-an="fadeInUp" data-an-delay="2.2s" data-an-duration="1s"><span>Read More</span></a> --}}
												<!-- /END BUTTONS -->
											</div>
										</div>
										<!-- /HOME PAGE CONTENT -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- /END HOME PAGE -->
			</div>
			
			<!-- HOME PAGE SOCIAL ICON -->
			<footer class="socials">
				<a href="#" class="an-start" data-an="fadeInUp" data-an-delay="2s" data-an-duration=".7s"><i class="ti-facebook"></i></a>
				<a href="#" class="an-start" data-an="fadeInUp" data-an-delay="2.3s" data-an-duration=".7s"><i class="ti-instagram"></i></a>
				<a href="#" class="an-start" data-an="fadeInUp" data-an-delay="2.6s" data-an-duration=".7s"><i class="ti-dribbble"></i></a>
				<a href="#" class="an-start" data-an="fadeInUp" data-an-delay="2.9s" data-an-duration=".7s"><i class="ti-twitter-alt"></i></a>
			</footer>
			<!-- /END HOME PAGE SOCIAL ICON -->
			
			<!-- SIDE SECTIONS -->
			<div class="body-wrap">
			
				<!-- ABOUT SECTION -->
				<section id="about">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!-- CONTENT -->
								<h2 class="text-center display-5">ABOUT ME</h2>
								<p class="lead mb-50 text-center">Everything you need to know about our Company.</p>
								<p class="mb-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
								<!-- /END CONTENT -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<!-- PROGRESS BAR -->
								<div class="progress">
									<span class="title">JAVASCRIPT</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div></div>
								</div>
								<div class="progress">
									<span class="title">HTML5</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div></div>
								</div>
								<div class="progress">
									<span class="title">CSS3</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div></div>
								</div>
								<!-- /END PROGRESS BAR -->
							</div>
							<div class="col-md-6">
								<!-- PROGRESS BAR -->
								<div class="progress">
									<span class="title">BOOTSTRAP</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div></div>
								</div>
								<div class="progress">
									<span class="title">PHP</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div></div>
								</div>
								<div class="progress">
									<span class="title">WORDPRESS</span>
									<div class="bar"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div></div>
								</div>
								<!-- /END PROGRESS BAR -->
							</div>
						</div>
					</div>
				</section>
				<!-- /END ABOUT SECTION -->
				
				<!-- TEAM SECTION -->
				<section id="team">
					<div class="container">
						<div class="row">
							<!-- TEAM MEMBER -->
							<div class="col-md-6">
								<div class="team">
									<div class="team-img">
										<img src="img/tm1.jpg" class="img-responsive" alt="IMAGE TEAM MEMBER"/><!-- member image -->
									</div>
									<div class="team-details">
										<h3 class="team-name">John James</h3><!-- member name -->
										<span class="team-position">CEO</span><!-- member position -->
										<div class="team-social"><!-- member social icon -->
											<a href="http://facebook.com/"><i class="ti-facebook"></i></a>
											<a href="http://instagram.com/"><i class="ti-instagram"></i></a>
											<a href="http://twitter.com/"><i class="ti-twitter-alt"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- /END TEAM MEMBER -->
							
							<!-- TEAM MEMBER -->
							<div class="col-md-6">
								<div class="team">
									<div class="team-img">
										<img src="img/tm2.jpg" class="img-responsive" alt="IMAGE TEAM MEMBER"/><!-- member image -->
									</div>
									<div class="team-details">
										<h3 class="team-name">Sara James</h3><!-- member name -->
										<span class="team-position">Compliance</span><!-- member position -->
										<div class="team-social"><!-- member social icon -->
											<a href="http://facebook.com/"><i class="ti-facebook"></i></a>
											<a href="http://linkedin.com/"><i class="ti-linkedin"></i></a>
											<a href="http://google.com/"><i class="ti-google"></i></a>
											<a href="http://twitter.com/"><i class="ti-twitter-alt"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- /END TEAM MEMBER -->
						</div>
					</div>	
				</section>
				<!-- /END TEAM SECTION -->
				
				<!-- FEATURE SECTION -->
				<section id="feature">
					<div class="container">
						<div class="row">
							<!-- ICON BOX -->
							<div class="icon-box col-md-6">
								<i class="me-paint-palette"></i>
								<h4>Creativity</h4>
								<p>Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</p>
							</div>
							<!-- /END ICON BOX -->
							
							<!-- ICON BOX -->
							<div class="icon-box col-md-6">
								<i class="me-scale"></i>
								<h4>Innovation</h4>
								<p>Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</p>
							</div>
							<!-- /END ICON BOX -->
							
							<!-- ICON BOX -->
							<div class="icon-box col-md-6">
								<i class="me-bullseye"></i>
								<h4>Interface</h4>
								<p>Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</p>
							</div>
							<!-- /END ICON BOX -->
							
							<!-- ICON BOX -->
							<div class="icon-box col-md-6">
								<i class="me-chess"></i>
								<h4>True Power</h4>
								<p>Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</p>
							</div>
							<!-- /END ICON BOX -->
						</div>
					</div>
				</section>
				<!-- /END FEATURE SECTION -->
				
				<!-- PORTFOLIO SECTION -->
				<section id="portfolio" class="pb-60">
					<div class="container-fluid">
						<div class="row">
							<!-- PORTFOLIO -->
							<a class="card col-md-6" data-lightbox-gallery="gallery1" href="img/work1.jpg"><!-- portfolio image light box -->
								<div class="box-front" data-image-src="img/work1.jpg"><!-- portfolio image -->
									<div class="inner">
										<i class="ti-crown"></i><!-- portfolio icon -->
										<h3>Content<br><!-- portfolio title -->
										<small>Creation</small></h3><!-- portfolio small title -->
									</div>
								</div>
								<div class="box-back">
									<div class="inner">
										Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text.<!-- portfolio description -->
									</div>
								</div>
							</a>
							<!-- /END PORTFOLIO -->
							
							<!-- PORTFOLIO -->
							<a class="card col-md-6" data-lightbox-gallery="gallery1" href="img/work2.jpg"><!-- portfolio image light box -->
								<div class="box-front" data-image-src="img/work2.jpg"><!-- portfolio image -->
									<div class="inner">
										<i class="ti-heart"></i><!-- portfolio icon -->
										<h3>Market<br><!-- portfolio title -->
										<small>Growth</small></h3><!-- portfolio small title -->
									</div>
								</div>
								<div class="box-back">
									<div class="inner">
										Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text.<!-- portfolio description -->
									</div>
								</div>
							</a>
							<!-- /END PORTFOLIO -->
							
							<!-- PORTFOLIO -->
							<a class="card col-md-6" data-lightbox-gallery="gallery1" href="img/work3.jpg"><!-- portfolio image light box -->
								<div class="box-front" data-image-src="img/work3.jpg"><!-- portfolio image -->
									<div class="inner">
										<i class="ti-game"></i><!-- portfolio icon -->
										<h3>Event<br><!-- portfolio title -->
										<small>Hosting</small></h3><!-- portfolio small title -->
									</div>
								</div>
								<div class="box-back">
									<div class="inner">
										Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text.<!-- portfolio description -->
									</div>
								</div>
							</a>
							<!-- /END PORTFOLIO -->
							
							<!-- PORTFOLIO -->
							<a class="card col-md-6" data-lightbox-gallery="gallery1" href="img/work4.jpg"><!-- portfolio image light box -->
								<div class="box-front" data-image-src="img/work4.jpg"><!-- portfolio image -->
									<div class="inner">
										<i class="ti-infinite"></i><!-- portfolio icon -->
										<h3>Private<br><!-- portfolio title -->
										<small>Toturing</small></h3><!-- portfolio small title -->
									</div>
								</div>
								<div class="box-back">
									<div class="inner">
										Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text.<!-- portfolio description -->
									</div>
								</div>
							</a>
							<!-- /END PORTFOLIO -->
						</div>
					</div>
				</section>
				<!-- /END PORTFOLIO SECTION -->
				
				<!-- CONTACT SECTION -->
				<section id="contact" class="contact">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!-- CONTENT -->
								<h2 class="text-center display-5">GET IN TOUCH</h2>
								<p class="lead mb-50 text-center">Want to say hello? Want to know more about us?</p>
								<!-- /END CONTENT -->
							</div>
						</div>
						<div class="row">
							<!-- ICON BOX -->
							<div class="icon-box col-md-4 text-center">
								<i class="me-journalist"></i><!-- icon box -->
								<p>
									<a href="tel:012345678991"> 01 23 456 78 99 1</a><!-- phone number -->
									<br>
									<a href="tel:012345678991"> 01 23 456 78 99 1</a><!-- phone number -->
								</p>
							</div>
							<!-- /END ICON BOX -->
							
							<!-- ICON BOX -->
							<div class="icon-box col-md-4 text-center">
								<i class="me-placeholder"></i><!-- icon box -->
								<p>
									<abbr title="Click for view on Map" data-toggle="tooltip" data-placement="bottom" data-map="collapse">69 Halsey St, New York, Ny 10002,United States</abbr><!-- postal address // you can change map address from js/lib/map.js and you can config from document file-->
								</p>
							</div>
							<!-- /END ICON BOX -->
							
							<!-- ICON BOX -->
							<div class="icon-box col-md-4 text-center">
								<i class="me-24-hours-1"></i><!-- icon box -->
								<p>
									<a href="mailto:sales@domain.com">sales@domain.com</a><!-- email address -->
									<br>
									<a href="mailto:hello@domain.com">hello@domain.com</a><!-- email address -->
								</p>
							</div>
							<!-- /END ICON BOX -->
						</div>
						<div class="row">
							<div class="col-sm-12">
								<!-- CONTACT FORM -->
								<form id="contactform" method="post" autocomplete="off" novalidate="novalidate">
									<div class="row">
										<div class="col-sm-6">
											<div class="input-icon">
												<input type="text" name="name" placeholder="Your Name">
												<i class="icon me-people"></i>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-icon">
												<input type="email" name="email" placeholder="you@yourwebsite.com">
												<i class="icon me-mail"></i>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-icon">
												<input type="tel" name="phone" placeholder="eg. 09123456789">
												<i class="icon me-technology-3"></i>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-icon">
												<input type="text" id="captcha" name="answer" placeholder="7 + 3 = ?">
												<i class="icon me-security-2"></i>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="input-icon">
												<textarea rows="3" name="message" placeholder="eg. text your message"></textarea>
												<i class="icon me-technology-4"></i>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-md-offset-4">
											<button class="btn btn-black btn-block btn-icon" type="submit"><span>Submit Form</span><i class="ti-arrow-right"></i></button>
										</div>
									</div>
									<div class="message-contact"></div>
								</form>
								<!-- /END CONTACT FORM -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 socials">
								<!-- SOCIAL ICONS -->
								<a href="#"><i class="ti-facebook"></i></a>
								<a href="#"><i class="ti-instagram"></i></a>
								<a href="#"><i class="ti-dribbble"></i></a>
								<a href="#"><i class="ti-twitter-alt"></i></a>
								<!-- /END SOCIAL ICONS -->
							</div>
						</div>
					</div>
				</section>
				<!-- /END CONTACT SECTION -->
				
				<div class="section-close"></div>
			</div>
			<!-- /END SIDE SECTIONS -->
			
			<!-- WARNING ELEMENTS!! PLEASE DON'T REMOVE THIS LINES, IF YOU REMOVE OR CHANGE THIS LINES, WILL BE BREAK TEMPLATE -->
			<div class="overlay"></div>
			<div id="map"></div>
			<div class="btn-map-close"><span></span></div>
			<div class="loading">
				<div class="reveal-1"></div>
				<div class="reveal-2"></div>
			</div>
			<!-- // END WARNING ELEMENTS -->
		</main>

		<!-- NEWSLETTER -->
		<div class="modal fade MEDscale newsletter" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content text-white text-center" data-image-src="img/notify.jpg"><!-- newsletter background -->
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<!-- CONTENT -->
								<h1>NOTIFY ME</h1>
								<p>Enter your email address to get notified when site is ready</p>
								
								<!-- newsletter form config -->
								<form action="http://pooyaa.us6.list-manage.com/subscribe/post-json?u=133664e969&amp;id=42bb716bf8&amp;c=?" method="post" id="newsletter" autocomplete="off">
								<!-- /newsletter form config / PLEASE CONFIG YOUR MAILCHIMP FORM OF DOCUMENT FILE-->
								
									<!-- if your mailchimp form have 2 fields(email and name field), remove this line 
									<div class="col-xs-12">
										<input type="text" name="NAME" placeholder="Your Name">
									</div>
									if your mailchimp form have 2 fields(email and name field), remove this line //-->
									<div class="col-xs-12">
										<input type="email" name="EMAIL" placeholder="you@yourwebsite.com">
									</div>
									<div class="col-xs-12">
										<button class="btn btn-gradient btn-border btn-block btn-icon submit" type="submit" name="subscribe"><span>Submit Form</span><i class="ti-angle-right"></i></button>
									</div>
								</form>
								<!-- /END CONTENT -->
							</div>
						</div>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
				</div>
			</div>
		</div>
		<!-- /END NEWSLETTER -->
		
		<!--  Javascript Plugins -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/lib/jquery.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.js"></script>
		<script type="text/javascript" src="js/lib/plugin.js"></script>
		<script type="text/javascript" src="js/lib/map.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<!-- NOTE: this feature disabled. for enable, remove this line and line bottom of </script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
		//-->
    </body>

<!-- Mirrored from html.medhati.com/trendy/timer-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jul 2018 12:10:56 GMT -->
</html>
